<fieldset>
<legend><%= "Post comment" %></legend>
<%= form_tag :controller => 'comment', :action => 'add', :object_type => commented_object.class.to_s , :object_id => commented_object.id %>
<%= render :partial => 'comment/form' %>
    <button class="submit" type="submit">Add comment</button>
</form>
</fieldset>
