<div class="sidebarBlock">
  <h2><%= :csv_export.l %></h2>
  <div class="blockContent">
    <a href="<%= @logged_user.time_export_url(@active_project, 'csv') %>" class="csvExport"><%= :csv.l %></a>
    <p><%= :csv_export_times_info.l %></p>
  </div>
</div>