<%
  @page_title = :edit_time.l
  @tabbed_navigation_items = project_tabbed_navigation(:ptime)
  @bread_crumbs = project_crumbs(:edit_time, [{:title => :ptime, :url => "/project/#{@active_project.id}/time/index"}])
  
  @page_actions = []

  @additional_stylesheets = ['project/time']
%>

<%= form_tag :controller => 'time', :action => 'edit', :id => @time.id %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= :edit_time.l %></button>
</form>
