
= form_with(model: @message, url: project_message_path(@message.project, @message), method: :put, multipart: true) do |form|
  = render partial: 'form', locals: {form: form, is_new: false}
  %button.submit{type: "submit"}= t('edit_message')
