<%= form_tag( project_messages_path(@active_project), :multipart => true ) %>
<%= render :partial => 'form', :locals => {:is_new => true} %>
    <button class="submit" type="submit"><%= t('add_message') %></button>
</form>
