<%= form_tag project_milestone_path(@milestone.project, :id => @milestone.id), :method => :put %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('edit_milestone') %></button>
</form>
