.DS_Store
config/app_keys.yml
config/config.yml
config/database.yml
config/deploy.rb
coverage
index/**
log/*.log
nbproject
public/logos/**
public/avatars/**
tmp/restart.txt
tmp/**/*
public/themes/*
*.sqlite3
