div.peopleList {
}

div.peopleList h2 {
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 2px solid #ccc;
}

.card .cardOwner { 
  font-weight: bolder;
}

div.peopleList .card {
  float:left;
  width: 28%;
  
  margin: 6px;
  
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px dashed #ccc;
}

div.card div.cardBlock {
  padding-left: 0px;
  margin-bottom: 4px;
}

