div.projectCompany {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 50px;
  box-sizing: border-box;
}

.projectCompanies {
  display: flex;
  flex-direction: column;
}

* html div.projectCompany {
  height: 50px;
}

div.projectCompanyLogo {
  float: left;
  width: 60px;
  height: 54px;
}

div.projectCompanyMeta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed #cccccc;
  min-height: 54px;
}

div.projectCompany .projectCompanyTitle label {
  font-weight: bolder;
}

div.projectCompany div.projectCompanyUsers {
  margin: 10px 0 0 60px;
}

div.projectCompany div.projectUserPermissions {
  padding-left: 10px;
}

div.projectCompany tr.user {
  border: 1px solid #ccc;
  border-width: 1px 0;
}

div.companyProject .projectTitle {
  margin: 10px 0 0 30px;
}

div.companyProject {
  border-bottom: 1px dotted #afafaf;
}
