<%= error_messages_for :category %>

 <div>
    <label for="messageCategoryFormName"><%= :name.l %>: <span class="label_required">*</span></label>
    <%= text_field 'category', 'name', :id => 'messageCategoryFormName' %>
  </div>
