<%= form_tag( {:controller => 'message', :action => 'edit', :id => @message.id}, :multipart => true ) %>
<%= render :partial => 'form', :locals => {:is_new => false} %>
    <button class="submit" type="submit"><%= :edit_message.l %></button>
</form>
