<%= form_tag( object_comments_url(@commented_object), :method => :post, :multipart => true ) %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('add_comment') %></button>
</form>
