<%= error_messages_for :folder %>
<div>
  <label for="folderFormName"><%= t('name') %>: <span class="label_required">*</span></label>
  <%= text_field 'folder', 'name', :id => 'folderFormName' %>
</div>
