<%= form_tag project_folder_path(@folder.project, :id => @folder.id), :method => :put, :data => { turbo_method: :put } %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('edit_folder') %></button>
</form>
