= form_with(model: @folder, url: project_folder_path(@folder.project, @folder), method: :put) do |form|
  = render partial: 'form', locals: {form: form}
  %button.submit{type: "submit"}= t('edit_folder')
