<%= form_tag task_path(:task_list_id => @task.task_list_id, :id => @task.id), :method => :put %>
  <%= render :partial => 'form' %>
  <button class="submit" type="submit"><%=:edit_task.l %></button>
</form>