<%
  @page_title = :edit_task.l
  @tabbed_navigation_items = project_tabbed_navigation(:tasks)
  
  extra_crumbs = [{:title => :tasks, :url => task_lists_path}]
  if not @task_list.nil?
    extra_crumbs << {:title => @task_list.name, :url => task_list_path(:id => @task_list.id)}
  else
    extra_crumbs << {:title => @logged_user.display_name, :url => "/dashboard/my_tasks"}
  end
  @bread_crumbs = project_crumbs(:edit_task, extra_crumbs)
  
  @page_actions = []
  
  if ProjectTaskList.can_be_created_by(@logged_user, @active_project)
    @page_actions << {:title => :add_task_list, :url=> new_task_list_path}
  end
  
  @additional_stylesheets = []
%>
<% form_tag task_path(@task), :method => :put do %>
  <%= render :partial => 'form' %>
  <button class="submit" type="submit"><%=:edit_task.l %></button>
<% end %>
