<%
  @page_title = :edit_task.l
  @tabbed_navigation_items = project_tabbed_navigation(:tasks)
  
  extra_crumbs = [{:title => :tasks, :url => "/project/#{@active_project.id}/task/index"}]
  if not @task_list.nil?
    extra_crumbs << {:title => @task_list.name, :url => "/project/#{@active_project.id}/task/view_list/#{@task_list.id}"}
  else
    extra_crumbs << {:title => @logged_user.display_name, :url => "/dashboard/my_tasks"}
  end
  @bread_crumbs = project_crumbs(:edit_task, extra_crumbs)
  
  @page_actions = []
  
  if ProjectTaskList.can_be_created_by(@logged_user, @active_project)
    @page_actions << {:title => :add_task_list, :url=> "/project/#{@active_project.id}/task/add_list"}
  end
  
  @additional_stylesheets = []
%>
<%= form_tag :controller => 'task', :action => 'edit_task' %>
<%= render :partial => 'task_form' %>
    <button class="submit" type="submit"><%=:edit_task.l %></button>
</form>
