<% if !@categories.empty? %>
<div class="sidebarBlock">
  <h2><%= t('configuration_categories') %></h2>
  <div class="blockContent">
    <ul class="listWithDetails">
<% @categories.each do |category| -%>
      <li><%= link_to h(category.display_name), edit_configuration_path(category) %></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>
