------------------------------------------------------------
 <%= "DO NOT REPLY TO THIS MESSAGE" %>
------------------------------------------------------------

<%= "A new message entitled '#{@message.title}' has been posted in the project #{@message.project.name}." %> <%= "To view this message, visit the following URL:" %>

- <%= "#{AppConfig.site_url}#{@message.object_url}" %>

Company: <%= Company.owner.name %>
Project: <%= @message.project.name %>

--
<%= AppConfig.site_url %>