------------------------------------------------------------
 <%= :notifier_donotreply.l %>
------------------------------------------------------------

<%= :notifier_new_comment.l_with_args(:title => @message.title) %>

- <%= "#{AppConfig.site_url}#{@comment.object_url}" %>

<%= :company.l %>: <%= Company.owner.name %>
<%= :project.l %>: <%= @message.project.name %>
<%= :author.l %>: <%= @comment.created_by.display_name %>

--
<%= AppConfig.site_url %>
