------------------------------------------------------------
 <%= :notifier_donotreply.l %>
------------------------------------------------------------

<%= :notifier_greeting.l_with_args(:user => @user.display_name) %>

<%= :notifier_reset_password.l_with_args(:site => AppConfig.site_name) %>

<%= "#{AppConfig.site_url}/access/reset_password/#{@user.id}?confirm=#{@user.password_reset_key}" %>

--
<%= AppConfig.site_url %>
