------------------------------------------------------------
 <%= :notifier_donotreply.l %>
------------------------------------------------------------

<%= :notifier_greeting.l_with_args(:user => @user.display_name) %>

<%= :notifier_reset_password.l_with_args(:site => AppConfig.site_name) %>

<%= edit_user_password_url(@user, :confirm => @user.password_reset_key, :escape => false) %>

--
<%= AppConfig.site_url %>
