<%
  @page_title = :administration.l
  
  @bread_crumbs = administration_crumbs(:index)
  
  @page_actions = []
  
  @additional_stylesheets = []
%>
<div class="hint">
  <div class="content">
    <%= :welcome_to_administration.l %>
  </div>
</div>
