<%
  @page_title = :members.l
  
  @tabbed_navigation_items = administration_tabbed_navigation(:members)
  @bread_crumbs = administration_crumbs(:members)
  
  @page_actions = []
  
  if User.can_be_created_by(@logged_user)
  	@page_actions << {:title => :add_user, :url => "/user/add?company_id=#{Company.owner.id}"}
  end
  
  @additional_stylesheets = []
%>
<%=
  render :partial => 'administration/list_users', :locals => {:users => @users, :company => @company}
%>
