<%
  @page_actions = []
  
  if Company.can_be_created_by(@logged_user)
  	@page_actions << {:title => :add_client, :url => new_company_path}
  end
  
  if User.can_be_created_by(@logged_user)
  	@page_actions << {:title => :add_user, :url => new_user_path}
  end
%>

<div id="people">
<%= render :partial => 'companies/people_list', :collection => @companies %>
</div>
