<%
  @page_actions = []
  
  if Company.can_be_created_by(@logged_user)
  	@page_actions << {:title => :add_client, :url => '/company/add'}
  end
  
  if User.can_be_created_by(@logged_user)
  	@page_actions << {:title => :add_user, :url => '/users/new'}
  end
%>

<div id="people">
<%= render :partial => 'company/people_list', :collection => @companies %>
</div>
