<%
  @page_title = :upgrade.l
  
  @bread_crumbs = administration_crumbs(:upgrade)
  
  @page_actions = []
  
  @additional_stylesheets = []
%>

<% if !@versions.empty? %>
<p>TODONT</p>
<% else %>
<p><%= "No new version of RailsCollab is available" %></p>
<% end %>
