<%= form_tag :controller => 'milestone', :action => 'edit', :id => @milestone.id %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= :edit_milestone.l %></button>
</form>
