/** Message display **/

.message .block .header {
  font-size: 150%;
  padding-bottom: 5px;
}

.message .messageDetails {
  padding: 4px 5px;
  border-bottom: 1px solid #e8e8e8;
}

.message h1, .message h2, .message h3 {
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.message .list {
  padding-left: 5px;
  padding-bottom: 6px;
  padding-top: 6px;
  width: 530px;

  border-bottom: 1px solid #e8e8e8;
}

.message .list .meta {
  float:right;
  width: 130px;
}

.desc .title {
    font-size: 150%;
    font-style: normal;
}

.message .list .desc {
  width: 400px;
  float:left;
}

.message .list .private {
  display:inline-block;
  float:none;
}

.message h1 {
  font-size: 2em;
}

.message h2 {
  font-size: 1.5em;
}

.message h3 {
  font-size: 1.1em;
  text-decoration: none;
}

.message .messageText {
  padding: 10px;
  line-height: 150%;
  font-size: 11px;
}

.message .messageSeparator {
  text-align: center;
  font-size: 9px;
  font-weight: bolder;
  background: #fafafa;
  color: #fafafa;
}

.message .objectFilesTitle span, .message .messageCommentCount span, .message .messageTags span, .message .messageMilestone span, .message .messageDate span, .message .messageAuthor span {
  color: #333;
  font-weight: bolder;
}

.message .messageOptions {
  margin-top: 10px;
}

.message .messageComment {
  margin: 10px 10px;
}

.message .messageCommentHead {
  font-weight: bolder;
  font-size: 90%;
}

.message .messageCommentBody {
  border: 1px solid #ccc;
  border-width: 1px 0;
  padding: 10px;
  background: white;
}

/** Add message form **/

#emailNotification .companyDetails {
  margin: 10px 0;
  border: 1px dotted #ccc;
  padding: 5px 10px;
}

#emailNotification .companyName label {
  font-weight: bolder;
}

#emailNotification .companyMembers {
  padding-top: 5px;
}

#emailNotification .companyMembers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#emailNotification .companyMembers ul li {
  display: inline;
  padding-right: 5px;
}