<script type="text/javascript">
  permissions_form_items_set(['<%= @permissions.keys.join('\',\'')%>']);
</script>

<% unless @projects.empty? %>
<div id="userPermissions">
  <%= form_tag permissions_user_path(:id => @user.id), :method => :put %>
    <div id="userProjects">
      <table class="blank">
<%= render :partial => 'projects/permissions', :locals => {:user => @user}, :collection => @projects %>
      </table>
    </div>
    <button class="submit" type="submit"><%= t('update_permissions') %></button>
  </form>
</div>
<% end %>
