<% content_for :page_head do %>
  <meta name="permissions-form-items" content="<%= h((@permissions.keys).to_json) %>" />
<% end %>

<% unless @projects.empty? %>
<div id="userPermissions">
  <%= form_tag permissions_user_path(:id => @user.id), :data => { turbo_method: :put } %>
    <div id="userProjects">
      <table class="blank">
<%= render :partial => 'projects/permissions', :locals => {:user => @user}, :collection => @projects %>
      </table>
    </div>
    <button class="submit" type="submit"><%= t('update_permissions') %></button>
  </form>
</div>
<% end %>
