<script type="text/javascript">
  permissions_form_items_set(['<%= @permissions.keys.join('\',\'')%>']);
</script>

<% unless @projects.empty? %>
<div id="userPermissions">
  <%= form_tag :action => 'update_permissions', :id => @user.id %>
    <div id="userProjects">
      <table class="blank">
<%= render :partial => 'project/permissions.rhtml', :locals => {:user => @user}, :collection => @projects %>
      </table>
    </div>
    <button class="submit" type="submit"><%= :update_permissions.l %></button>
  </form>
</div>
<% end %>
