<% if !@visible_forms.empty? %>
<div class="sidebarBlock">
  <h2><%= "Forms" %></h2>
  <div class="blockContent">
    <ul>
<% @visible_forms.each do |visible_form| -%>
<% if visible_form.id == @form.id %>
      <li><%= visible_form.name %></li>
<% else %>
      <li><a href="<%= "/project/#{@active_project.id}/form/submit/#{visible_form.id}" %>"><%= h visible_form.name %></a></li>
<% end %>
<% end %>
    </ul>
  </div>
</div>
<% end %>
