<%
  @page_title = "Edit form"
  @tabbed_navigation_items = project_tabbed_navigation(7)
  @bread_crumbs = project_crumbs('Edit form', [{:title => 'Forms', :url => "/project/#{@active_project.id}/form/index"}])
  
  @page_actions = []

  @additional_stylesheets = ['project/forms']
%>

<%= form_tag :controller => 'form', :action => 'edit', :id => @form.id %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit">Edit form</button>
</form>
