<% if wiki_pages.size > 1 %>
  <div class="wiki_pages_widget">
    <h3><%= t 'wiki_enginge.pages' %></h3>

    <ul>
      <% wiki_pages.each do |wiki_page| %>
        <li><%= link_to_unless_current h(wiki_page.title), wiki_page_path(:id => wiki_page.slug)) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
