<% form_for(@wiki_page, :url => wiki_page_path(:id => @wiki_page)) do |form| %>
  <%= render :partial => form %>
  <button class="submit" type="submit"><%= :edit_page.l %></button>
  <%= preview_button %>
<% end %>

<div id="preview">
  <%= render @wiki_page %>
</div>
