<% form_for(@wiki_page, :url => wiki_pages_path) do |form| %>
  <%= render :partial => form %>
  <div class="buttons">
    <button class="submit" type="submit"><%= :add_page.l %></button>
    <%= preview_button %>
  </div>
<% end %>
<div id="preview"></div>
