<%
  @page_actions = []
  if WikiPage.can_be_created_by(@logged_user, @active_project)
    @page_actions << {:title => :add_page, :url => new_wiki_page_path}
  end
  @page_actions << {:title => :all_pages, :url => list_wiki_pages_path}
-%>
<%= render :partial => 'wiki_page', :object => @version %>

<div class="options">
  <%= action_list actions_for_wiki_page(@wiki_page) %>
  <%= select_tag :versions, options_for_versions_select(@versions), :onchange => 'document.location.href = this.value;' %>
  <%= :'wiki_engine.last_modified_with_time'.l_with_args(:time => format_usertime(@version.created_at, :wiki_page_updated_format)) %>
</div>
