<% if !@tag_names.empty? %>
<div class="sidebarBlock">
  <h2><%= :tags.l %></h2>
  <div class="blockContent">
    <p><%= :tags_used_in_project.l %>:</p>
    <ul class="listWithDetails">
<% is_public = @logged_user.member_of_owner? %>
    <% @tag_names.each do |tag| -%>
      <li><%= link_to h(tag.tag), project_tag_path(@active_project, CGI.escape(tag.tag)) %> <span class="desc"> - <%= :tag_object_count.l_with_args(:count => Tag.count_by(tag.tag, @active_project, !@logged_user.member_of_owner?)) %></span></li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
