<%
  @page_actions = []
  
  if @project.can_be_managed_by(@logged_user)
    @page_actions << {:title => :permissions, :url=> permissions_project_path(:id => @active_project.id)}
  end
%>
<div id="people">
<%= render :partial => 'companies/people_list', :collection => @project_companies %>
</div>

<% if @project.can_be_managed_by(@logged_user) %>
<div class="hint"><%= :permissions_info.l_with_args(:link => link_to(:permissions_form.l, permissions_project_path(:id => @active_project.id))) %></div>
<% end %>
