<fieldset id="attachFiles_<%= attach_id %>" class="attachFiles">
  <legend><%= "Attach file" %></legend>
  <div id="attachFilesControls_<%= attach_id %>">
    <div id="attachFiles_<%= attach_id %>_1"><input type="file" name="uploaded_files[]" /></div>
  </div>
</fieldset>