<fieldset id="attachFiles" class="attachFiles">
  <legend><%= t('attach_files') %></legend>
  <div id="attachFilesControls">
    <div id="attachFiles_1"><input type="file" name="uploaded_files[]" id="attachFilesInput_1" /></div>
  </div>
</fieldset>
