<%
  @page_actions = []
  
  if can? :create_file, @active_project
    @page_actions << {:title => :add_file, :url => new_project_file_path(@active_project)}
  end

  if can? :create_folder, @active_project
    @page_actions << {:title => :add_folder, :url => new_project_folder_path(@active_project}
  end
%>
<%= form_tag(project_file_path(file.project, :id => @file.id), :data => { turbo_method: :put }, :multipart => true ) %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('edit_file') %></button>
</form>
