<%
  @page_actions = []
  
  if ProjectFile.can_be_created_by(@logged_user, @active_project)
    @page_actions << {:title => :add_file, :url => "/project/#{@active_project.id}/files/add_file"}
  end

  if ProjectFolder.can_be_created_by(@logged_user, @active_project)
    @page_actions << {:title => :add_folder, :url => "/project/#{@active_project.id}/files/add_folder"}
  end
%>
<%= form_tag( {:controller => 'files', :action => 'edit_file', :id => @file.id}, :multipart => true ) %>
<%= render :partial => 'file_form' %>
    <button class="submit" type="submit"><%= :edit_file.l %></button>
</form>
