<%
  @page_actions = []
  
  if can? :create_file, @active_project
	@page_actions << {:title => :add_file, :url => new_file_path}
  end

  if can? :create_folder, @active_project
    @page_actions << {:title => :add_folder, :url => new_folder_path}
  end
%>
<%= form_tag( files_path, :multipart => true ) %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('add_file') %></button>
</form>
