- @page_actions = []
- if can? :create_company, current_user
  - @page_actions << {title: :add_client, url: new_company_path}
- if can? :create_user, current_user
  - @page_actions << {title: :add_user, url: new_user_path}

#people
  = render partial: 'companies/people_list', collection: @companies
