<div class="sidebarBlock">
  <h2><%= t('csv_export') %></h2>
  <div class="blockContent">
    <a href="<%= @logged_user.time_export_url(@active_project, 'csv') %>" class="csvExport"><%= t('csv') %></a>
    <p><%= t('csv_export_times_info') %></p>
  </div>
</div>