<%= form_tag project_time_path(@time.project, :id => @time.id), :data => { turbo_method: :put } %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('edit_time') %></button>
</form>
