<%
  @page_title = 'Add project'
  
  @tabbed_navigation_items = administration_tabbed_navigation(4)
  @bread_crumbs = administration_crumbs("Add project", [{:title => 'Projects', :url => "/administration/projects"}])
  
  @page_actions = []
  
  @additional_stylesheets = []
%>

<%= start_form_tag :controller => 'project', :action => 'add' %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit">Add project</button>
<%= end_form_tag %>