<%
  @page_actions = []
  if @user.profile_can_be_updated_by(@logged_user)
	  @page_actions += [{:title => :edit, :url => "/user/edit/#{@user.id}"}]
  end
  
  if @user.permissions_can_be_updated_by(@logged_user)
  	@page_actions << {:title => :update_permissions, :url => "/user/update_permissions/#{@user.id}"}
  end
%>
<%=
  render :partial => 'user/user_card', :collection => [@user]
%>
