<%
  @page_title = :add_client.l
  @tabbed_navigation_items = administration_tabbed_navigation(:clients)
  @bread_crumbs = administration_crumbs(:add_client, [{:title => :clients, :url => '/administration/clients'}])
%>

<%= form_tag :controller => 'company', :action => 'add' %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= :add_client.l %></button>
</form>
