<%

  @page_title = :company_card.l_with_args(:company => h(@company.name))
  @tabbed_navigation_items = dashboard_tabbed_navigation(:overview)
  @bread_crumbs = dashboard_crumbs(@company.name)
%>
<%=
  render :partial => 'company/company_card', :collection => [@company]
%>
