<%
  @page_actions = []
  
  if ProjectTaskList.can_be_created_by(@logged_user, @active_project)
    @page_actions << {:title => :add_task_list, :url=> new_task_list_path}
  end
%>
<%= form_tag task_lists_path %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= :add_task_list.l %></button>
</form>
