<%= error_messages_for :category %>
<div>
  <label for="categoryFormName"><%= t('name') %>: <span class="label_required">*</span></label>
  <%= text_field 'category', 'name', :id => 'categoryFormName' %>
</div>
