= form_with(model: @category, url: project_categories_path(@active_project), method: 'post') do |form|
  = render partial: 'form', locals: {form: form}
  %button.submit{type: "submit"}= t('add_category')
