            <div id="page_actions">
              <ul>
<% @page_actions.each do |action| -%>
                <li><a href="<%= action[:url] %>"><%= action[:title].l %></a></li>
<% end %>
              </ul>
            </div>
