            <div id="page_actions">
              <ul>
<% @page_actions.each do |action| -%>
                <li><a href="<%= action[:url] %>" <%= action[:ajax] ? 'class="ajax_action"' : 'class="action"' %> id="action_<%= action[:title] %>"><%= action[:title].l %></a></li>
<% end %>
              </ul>
            </div>
