<% unless crumbs.nil? -%>
          <div id="crumbs">
            <ul>
<% crumbs.each do |crumb| -%>
<% if crumb[:url] %>
              <li>&raquo; <a href="<%= crumb[:url] %>"><%= crumb[:title].is_a?(Symbol) ? crumb[:title].l : h(crumb[:title]) %></a></li>
<% else %>
              <li>&raquo; <span><%= crumb[:title].is_a?(Symbol) ? crumb[:title].l : h(crumb[:title]) %></span></li>
<% end %>
<% end %>
            </ul>
          </div>
<% end -%>