#footer
  #copy
    - if not @owner.homepage.nil?
      %a{href: "#{@owner.homepage}"}= @owner.name
    - else
      = @owner.name
  #productSignature
    = product_signature
    \. Icons by
    %a{href: "http://dryicons.com"} DryIcons.
