<% if !@system_notices.nil? %>
<div id="systemNoticesWrapper">
  <div id="systemNotices">
    <ul>
<% @system_notices.each do |system_notice| -%>
      <li><%= h system_notice %></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>
