<% unless tabs.nil? -%>
<div id="tabsWrapper">
  <div id="tabs">
  <ul>
<% current_tab = self.current_tab %>
<% tabs.each do |item| -%>
    <li id="<%= "item_#{item[:id]}" %>" class="<%= 'active' if item[:id] == current_tab %>">
    <a href="<%= item[:url] %>"><%= item[:id].l %></a>
    </li>
<% end %>
  </ul>
  </div>
</div>
<% end -%>
