<% unless tabs.nil? -%>
<div id="tabsWrapper">
  <div id="tabs">
  <ul>
<% current_tab = self.current_tab %>
<% tabs.each do |item| -%>
    <li id="<%= "item_#{item[:id]}" %>" <%= 'class="active"'.html_safe if item[:id] == current_tab %>>
    <a href="<%= item[:url] %>"><%= t(item[:id]) %></a>
    </li>
<% end %>
  </ul>
  </div>
</div>
<% end -%>
