<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= "#{h(@page_title)} @ #{h(Company.owner.name)}" %></title>
	<%= stylesheet_link_tag 'project_website' %>
	<% if not @additional_stylesheets.nil?
	  @additional_stylesheets.each do |ss| -%>
	  <%= stylesheet_link_tag ss %>
	  <% end %>
	<% end %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'jquery-ui.js' %>
	<%= javascript_include_tag 'jrails.js' %>
	<%= javascript_include_tag 'application.js' %>
	
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<!-- head needs to go here? -->
  </head>
  <body id="body">
    <div id="wrapper">
    
      <!-- header -->
      <div id="headerWrapper">
        <div id="header">
          <h1><%= link_to :administration.l, :controller => 'administration' %></h1>
          <div id="userboxWrapper"><%= render :partial => 'layouts/user_box', :locals => {:user => @logged_user, :projects => @active_projects} %></div>
        </div>
      </div>
      <!-- /header -->

      <%= render :partial => 'layouts/tabs' if not @tabbed_navigation_items.nil? %>
            
      <div id="crumbsWrapper">
        <div id="crumbsBlock">
          <%= render :partial => 'layouts/crumbs' if not @bread_crumbs.nil? %>    
        </div>
      </div>
      
      <!-- content wrapper -->
      <div id="outerContentWrapper">
        <div id="innerContentWrapper">
<% if flash[:message] %>
          <div id="<%= flash[:error] ? 'error' : 'success' %>" class="StatusMessage <%= flash[:error] ? 'flash_error' : 'flash_success' %>"><%= h flash[:message] %></div>
<% end %>
          <h1 id="pageTitle"><%= h @page_title %></h1>
          <div id="pageContent">
            <div id="content" <%= @content_for_sidebar.nil? ? '' : 'class=\'sidebar\'' %>>
              <%= render :partial => 'layouts/actions' if not @page_actions.nil? %>
              <!-- Content -->
              <%= yield %>
              <!-- End Content -->
            </div>
<% if not @content_for_sidebar.nil? %>
            <div id="sidebar"><%= render :partial => @content_for_sidebar %></div>
<% end %>
            <div class="clear"></div>
          </div>
        </div>
        
        <!--Footer -->
        <%= render :partial => 'layouts/footer' %>
      </div>
      <!-- End content wrapper -->
      
    </div>
  </body>
</html>
