<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title><%= h @page_title %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag 'dialog' %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'jquery-ui.js' %>
	<%= javascript_include_tag 'jrails.js' %>
	<%= javascript_include_tag 'application.js' %>
  </head>
  <body>
    <div id="dialog">
      <% if !Company.owner.nil? and Company.owner.logo? %>
      <div id="dialogLogo"><img src="<%= Company.owner.logo.url %>"/></div>
      <% end %>
      <div class="inner">
      <h1><%= h @page_title %></h1>
<% if flash[:message] %>
          <div id="<%= flash[:error] ? 'error' : 'success' %>" class="StatusMessage <%= flash[:error] ? 'flash_error' : 'flash_success' %>"><%= h flash[:message] %></div>
<% end %>
<%= yield %>
      </div>
    </div>
  </body>
</html>
