<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% if not @active_project.nil? %>
    <title><%= h @active_project.name %> - <%= h @page_title %> @ <%= h Company.owner.name %></title>
    <% else %>
    <title><%= h @page_title %> @ <%= h Company.owner.name %></title>
    <% end %>
    
	<%= stylesheet_link_tag 'project_website' %>
	<% if not @additional_stylesheets.nil?
	  @additional_stylesheets.each do |ss| -%>
	  <%= stylesheet_link_tag ss %>
	  <% end %>
	<% end %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'jquery-ui.js' %>
	<%= javascript_include_tag 'jrails.js' %>
	<%= javascript_include_tag 'application.js' %>
	
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	
	<%= javascript_tag "var PROJECT_ID = #{@active_project.id};" %>
<!-- head needs to go here? -->
  </head>
  <body id="body">
	<% if !@active_project.is_active? %>
		<div class="important center">
			<h5>
			  <%= :project_locked_header.l %>
			  <% if @active_project.status_can_be_changed_by(@logged_user) %>
			      <%= link_to :mark_project_as_active.l, {:controller => 'project', :action => 'open'}, :method => :post, :confirm => :mark_project_as_active_confirmation.l %>
			<% end %>
			</h5>
		</div>
	<% end %>
    <div id="wrapper">
      
      <!-- header -->
      <div id="headerWrapper">
        <div id="header">
          <h1><%= h @active_project.name %></h1>
          <div id="userboxWrapper"><%= render :partial => 'layouts/user_box', :locals => {:user => @logged_user, :projects => @active_projects} %></div>
        </div>
      </div>
      <!-- /header -->

      <%= render :partial => 'layouts/tabs' if not @tabbed_navigation_items.nil? %>
            
      <div id="crumbsWrapper">
        <div id="crumbsBlock">
          <%= render :partial => 'layouts/crumbs' if not @bread_crumbs.nil? %> 
          
          <% if AppConfig.search_enabled %>
          <div id="searchBox">
            <%= form_tag :controller => 'project', :action => 'search' %>
              <div>
<%
  @search_field_default_value = :search_box_default.l
  @last_search ||= @search_field_default_value
  @search_field_attrs = {
	  :onfocus => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''",
      :onblur => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''"
  }
%>
                <%= text_field_tag 'search_id', (h @last_search), @search_field_attrs %><button type="submit"><%= :go.l %></button>
              </div>
            </form>
          </div>
         <% end %>
           
        </div>
      </div>
      
      <!-- content wrapper -->
      <div id="outerContentWrapper">
        <div id="innerContentWrapper">
<% if flash[:message] %>
          <div id="<%= flash[:error] ? 'error' : 'success' %>" class="StatusMessage <%= flash[:error] ? 'flash_error' : 'flash_success' %>"><%= h flash[:message] %></div>
<% end %>
          <h1 id="pageTitle"><%= h @page_title %> <% if @private_object %><img src="<%= image_path('icons/private.gif') %>" alt="private"/><% end %></h1>
          <div id="pageContent">
            <div id="content" <%= @content_for_sidebar.nil? ? '' : 'class=\'sidebar\'' %>>
              <%= render :partial => 'layouts/actions' if not @page_actions.nil? %>
              <!-- Content -->
              <%= yield %>
              <!-- /Content -->
            </div>
<% if not @content_for_sidebar.nil? %>
            <div id="sidebar"><%= render :partial => @content_for_sidebar %></div>
<% end %>
            <div class="clear"></div>
          </div>
        </div>
        
        <!--Footer -->
        <%= render :partial => 'layouts/footer' %>
      </div>
      <!-- /content wrapper -->
      
    </div>
  </body>
</html>
